.dials-container {
  width: 650px;
  height: 650px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 15px;
}

.bottomdial {
  position: absolute;
  z-index: 3;
}

.topdial {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 10;
}

.pointer {
  opacity: 0.8;
  position: absolute;
  left: 324px;
  top: 0;
  z-index: 100;
}

.textData {
  display: flex;
  justify-content: space-between;
  h4 {
    margin: 0;
    margin-top: $m-size;
    padding: 0 $m-size;
  }
}