.dials-container {
  width: 650px;
  height: 650px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.bottomdial {
  position: absolute;
  z-index: 3;
}

.topdial {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 10;
}

.pointer {
  opacity: 0.8;
  position: absolute;
  left: 324px;
  top: 0;
  z-index: 100;
}

.textData {
  display: flex;
  justify-content: space-between;
}

.toolLabel {
  background: #ccc;
  border-radius: 5px;
  font-weight: 700;
  margin: $xs-size;
  padding: $xs-size;
  vertical-align: center;
}

.toolLabel--top {
  margin-bottom: 0;
}

.toolLabel--bottom {
  margin-top: 0;
}